*{
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
.banner{
    background-color: #000;
    padding:35px 20px;
}
.h_logo{
    text-align: center;
}
.h_logo img{
    width: 200px;
}
.body{
    text-align: center;
    width: 100%;
}
.b_text{
    width: 50%;
    float: right;
}
.b_text p{
    padding:10px 40px;
    margin-top:15%;
    font-size:20px;
}
.s_img{
    width: 50%;
    float: left;
}
.b_email{
    text-decoration: none;
    color:#000;
}
.b_email:hover{
    color:#af9912;
}
.slider {
	width: 100%;
}
.slide img{
    display: block;
    width: 100%;
    height: auto;
}
.footer{
    width: 100%;
    float: left;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: #af9912;
    font-size:18px;
}
/* (1366x768) WXGA Display */
@media  screen and (max-width: 1930px) {
    .slide img{
        display: block;
        width: 100%;
        height: 580px;
    }
}

@media  screen and (max-width: 1690px) {
    .slide img{
        height: 550px;
    }
}

@media  screen and (max-width: 1610px) {
    .slide img{
        height: 450px;
    }
    .b_text p{
        padding:10px 40px;
        margin-top:80px;
        font-size:20px;
    }
    .banner{
        padding:20px;
    }
    .h_logo img{
        width: 180px;
    }
}

@media  screen and (max-width: 1450px) {
    .slide img{
        height: 450px;
    }
    .b_text p{
        padding:10px 40px;
        margin-top:80px;
        font-size:20px;
    }
}

@media  screen and (max-width: 1366px) {
    .slide img{
        height: 380px;
    }
    .b_text p{
        padding:10px 40px;
        margin-top:60px;
        font-size:18px;
    }
    .banner{
        padding:10px;
    }
    .h_logo img{
        width: 150px;
    }
}

@media  screen and (max-width: 1160px) {
    .slide img{
        height: 410px;
    }
    .b_text p{
        padding:10px 40px;
        margin-top:60px;
        font-size:18px;
    }
    .banner{
        padding:20px;
    }
    .h_logo img{
        width: 180px;
    }
}

@media  screen and (max-width: 1030px) {
    .slide img{
        height: 350px;
    }
    .b_text p{
        padding:10px 40px;
        margin-top:60px;
        font-size:16px;
    }
    .banner{
        padding:15px;
    }
    .h_logo img{
        width: 140px;
    }
}

@media  screen and (max-width: 810px) {
    .slide img{
        height: 250px;
    }
    .b_text p{
        padding:10px 20px;
        margin-top:25px;
        font-size:13px;
    }
    .banner{
        padding:10px;
    }
    .h_logo img{
        width: 120px;
    }
}

@media  screen and (max-width: 650px) {
    .slide img{
        height: 250px;
    }
    .b_text p{
        padding:10px 20px;
        margin-top:25px;
        font-size:12px;
    }
    .banner{
        padding:10px;
    }
    .h_logo img{
        width: 100px;
    }
    .b_text{
        width: 100%;
        float: right;
    }
    .s_img{
        margin-top: 30px;
        width: 100%;
        float: left;
    }
    .footer{
        padding: 10px;
        font-size:16px;
    }
}

@media  screen and (max-width: 285px) {
    .slide img{
        height: 200px;
    }
}